CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

cmake-build-debug\**
cmake-build-release\**

cmake-build-debug\
cmake-build-release\

.idea\**
/.idea/.gitignore
/cmake-build-release/.ninja_deps
/cmake-build-release/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-release/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-785fb100f005b1996826.json
/cmake-build-release/.cmake/api/v1/reply/cache-v2-5267a67ceb4a4c3846e0.json
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-511f10442d398b385314.json
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-bb1452cf0cdd44acdc2d.json
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-67809d76e3c458aac17a.json
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-ebf7d26c7ffcc7aa7cff.json
/cmake-build-debug/CPackConfig.cmake
/cmake-build-release/CPackConfig.cmake
/cmake-build-debug/CPackSourceConfig.cmake
/cmake-build-release/CPackSourceConfig.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib.external.glfw.src-Debug-aba5195d07495b7ecdc1.json
/cmake-build-release/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib.external.glfw.src-Release-fd9d817e422ea98099ce.json
/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib.external.glfw-Debug-c47ebf252375fab437d0.json
/cmake-build-release/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib.external.glfw-Release-2213637f07a96b8d241f.json
/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib-Debug-215f7cd2ca15e78092b3.json
/cmake-build-release/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib-Release-abe742e290b07c5b5287.json
/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.raylib-build-Debug-3b07fda7c44a1cc3f484.json
/cmake-build-release/.cmake/api/v1/reply/directory-_deps.raylib-build-Release-f4a6d5f8502a4d855644.json
/.idea/discord.xml
/cmake-build-release/.cmake/api/v1/reply/index-2024-04-08T19-18-21-0037.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-08T19-18-21-0424.json
/cmake-build-release/invert.exe
/.idea/invert.iml
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-3b9fcb6bbcc718d8146c.json
/cmake-build-release/.cmake/api/v1/reply/target-glfw-Release-977e340931357f354412.json
/cmake-build-debug/.cmake/api/v1/reply/target-invert-Debug-96ff777338d8913ba4e1.json
/cmake-build-release/.cmake/api/v1/reply/target-invert-Release-3a28569842a4c9843a9f.json
/cmake-build-debug/.cmake/api/v1/reply/target-raylib-Debug-7ac4dc76c47bfaffe456.json
/cmake-build-release/.cmake/api/v1/reply/target-raylib-Release-ccc0d278313efaca6eb2.json
/cmake-build-debug/.cmake/api/v1/reply/target-uninstall-Debug-2b40f114594fae277ce8.json
/cmake-build-release/.cmake/api/v1/reply/target-uninstall-Release-e9ef337dd089b71ad4d9.json
/cmake-build-debug/.cmake/api/v1/reply/target-update_mappings-Debug-747aba60132a79f24387.json
/cmake-build-release/.cmake/api/v1/reply/target-update_mappings-Release-a3bcfd408c9d0427fe71.json
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5b487e56752f2bbcc26d.json
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-5b487e56752f2bbcc26d.json
/.idea/vcs.xml
